
nixon-gitops/ansible/inventory.ini

nixon-gitops/helm/values

nixon-gitops/charts/nixon-external-secrets-resources/values.yaml

nixon-gitops/.gitattributes
nixon-gitops/.gitignore
nixon-gitops/.git

nixon-gitops/configuration/**/*-postgresql.yaml

### TERRAFORM ###

**/setup-backend.sh
**/vars.auto.tfvars
**/.terraform.lock.hcl